@import "../vars";

.about {
  padding-top: 20px;
}

.about__photo img {
  width: 100%;
}

.about__content {
  padding: 0px 15px 7px;
}

.about__content h3 {
  margin-top: 11px;
  margin-bottom: 43px;

  &::before {
    content: "О нас";
    position: absolute;
    top: -15px;
    opacity: 0.03;
    font-size: 26px;
    line-height: 26px;
  }
}

.about__content h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: -1px;
}

.about__content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about__content p:first-of-type {
  margin-bottom: 27px;
  margin-top: 14px;
}

@media (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: auto 270px;
    padding-right: 48px;
    padding-bottom: 40px;
  }

  .about__photo {
    position: relative;
  }

  .about__photo img {
    z-index: -1;
    position: absolute;
    top: 156px;
    width: 542px;
  }

  .about__content h3 {
    &::before {
      font-size: 40px;
      line-height: 40px;
    }
  }

  .about__content {
    padding: 31px 0 0;
  }

  .about__content h3 {
    margin-bottom: 48px;
  }

  .about__content h4 {
    font-size: 18px;
    line-height: 18px;
  }

  .about__content p {
    font-size: 16px;
    line-height: 24px;
  }

  .about__content p:first-of-type {
    margin-bottom: 29px;
    margin-top: 12px;
  }

  .about__content p:last-of-type {
    margin-top: 11px;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 100px 120px 100px 0;
    grid-template-columns: 50% 50%;
  }

  .about__photo img {
    position: static;
  }

  .about__content {
    padding-top: 34px;
  }

  .about__content h3 {
    margin-bottom: 60px;
    font-size: 35px;
    line-height: 100%;

    &::before {
      content: "О нас";
      font-size: 55px;
      line-height: 55px;
      top: -37px;
    }
  }

  .about__content h4 {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 17px;
  }

  .about__content p {
    font-size: 14px;
    line-height: 22px;
    width: 585px;
  }

  .about__content p:first-of-type {
    margin-bottom: 27px;
    margin-top: 14px;
    width: 571px;
  }

  .about__content p:last-of-type {
    font-size: 14px;
    line-height: 22px;
    width: 581px;
  }
}
