.adv-slide.swiper-slide {
  width: 380px;
  background-color: $color-white;

  @include vp-1439 {
    width: 324px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.adv-slide__container {
  position: relative;
  width: 100%;
  min-height: 329px;
  padding-top: 124px;
  padding-bottom: 40px;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid rgba($color-action, 0.1);
  color: $color-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 54px;
    height: 54px;
    border: 1px solid $color-action;

    @include vp-1439 {
      top: 29px;
      width: 48px;
      height: 48px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 55px;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-action;

    @include vp-1439 {
      top: 41px;
    }
  }

  @include vp-1439 {
    min-height: 340px;
    padding-top: 102px;
    padding-bottom: 29px;
  }

  @include vp-767 {
    min-height: auto;
    padding-top: 82px;
    padding-bottom: 19px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

.adv-slide__container h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;

  @include vp-1439 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.adv-slide__container p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}

.adv-slide__container p > br {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.adv-slide__container h3 > br {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.adv-slide--security .adv-slide__container::after {
  mask-image: url("../__spritemap#sprite-icon-shield-view");
  mask-size: 22px 24px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.adv-slide--knowledge .adv-slide__container::after {
  mask-image: url("../__spritemap#sprite-icon-crown-view");
  mask-size: 24px 22px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.adv-slide--equipment .adv-slide__container::after {
  mask-image: url("../__spritemap#sprite-icon-boots-view");
  mask-size: 22px 20px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.adv-slide--routes .adv-slide__container::after {
  mask-image: url("../__spritemap#sprite-icon-path-view");
  mask-size: 24px 24px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.adv-slide--nature .adv-slide__container::after {
  mask-image: url("../__spritemap#sprite-icon-leaf-view");
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  mask-position: center;
}


.adv-slide.swiper-slide:nth-last-child(-n+3) {
  @include vp-1439 {
    display: none;
  }
}
