.adv__wrapper {
  width: 320px;
  padding: 20px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 100px 0;
  }
}

.adv__title {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 0;
  }

  &::after {
    bottom: 15px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      bottom: 14px;
    }
  }
}

.adv__list {
  @include reset-list;

  @media (max-width: $mobile-width-only) {
    all: unset;

    @include flex;
  }

  @media (min-width: $tablet-width) {
    all: unset;

    @include flex;

    gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    all: none;
    flex-wrap: nowrap;
    width: 1200px;
    margin: 0 auto;
    gap: 0;
    margin-bottom: 50px;
  }
}

.adv .adv__item {
  width: 290px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding: 19px 9px;
  position: relative;
  margin-bottom: 15px;
  background-color: $color-white;

  &--duplicate {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 29px 19px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    all: unset;
    box-sizing: border-box;
    width: 380px;
    height: 329px;
    border: 1px solid rgba(2, 102, 193, 0.1);
    padding: 39px 19px;
    position: relative;
    background-color: $color-white;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    width: 42px;
    height: 42px;
    border: 1px solid $color-button;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      width: 54px;
      height: 54px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 41px;
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-color: $color-button;

    @media (min-width: $tablet-width) {
      top: 31px;
      width: 47px;
      height: 47px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      width: 53px;
      height: 53px;
    }
  }

  &--safety::after {
    mask-image: url("../../__spritemap#sprite-security-view");
  }

  &--lore::after {
    mask-image: url("../../__spritemap#sprite-crown-view");
  }

  &--equipment::after {
    mask-image: url("../../__spritemap#sprite-boots-view");
  }

  &--routes::after {
    mask-image: url("../../__spritemap#sprite-path-view");
  }

  &--nature::after {
    mask-image: url("../../__spritemap#sprite-leaf-view");
  }

  h3 {
    @include reset;

    width: 240px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    padding-top: 62px;
    margin: 0 auto;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      width: 280px;
      font-size: 16px;
      line-height: 16px;
      padding-top: 74px;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 340px;
      font-size: 18px;
      line-height: 18px;
      padding-top: 84px;
      margin-bottom: 15px;
    }
  }

  p {
    @include reset;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &:focus {
    border: 1px solid $color-button-active;
  }
}

.adv__button-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    @include flex;

    justify-content: center;
  }
}
