.adv {
  padding-top: 135px;
  padding-bottom: 100px;

  @include vp-1439 {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 36px;
    padding-bottom: 20px;
  }
}

.adv__head {
  margin-bottom: 50px;

  @include vp-1439 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-bottom: 37px;
  }
}

.adv__title {
  text-align: center;
  position: relative;
}

.adv__title-back {
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);

  @include vp-1439 {
    bottom: 1px;
  }

  @include vp-767 {
    bottom: 9px;
  }
}

.adv__container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1439 {
    padding: 0 45px;
    margin-bottom: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.adv__slider {
  margin-bottom: 50px;

  @include vp-1439 {
    margin-bottom: 0;
  }

  @include vp-767 {
    overflow: visible;
  }
}

.adv__wrapper.swiper-wrapper {
  @include vp-1439 {
    max-width: 678px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
    height: auto;
  }
}

.adv__slide.swiper-slide {
  height: auto;
}

.adv__slider-btns {
  max-width: 78px;
  margin: 0 auto;

  @include vp-1439 {
    display: none;
  }
}
