.advantages {
  position: relative;
  overflow: hidden;

  @media (min-width: $min-width-tablet) {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  @media (min-width: $min-width-desktop) {
    height: 734px;
    padding: 100px 0;
  }
}

.advantages__container {
  @media (min-width: $min-width-desktop) {
    width: 1440px;
    margin: 0 auto;
  }
}

.advantages__width {
  @media (min-width: $min-width-tablet) {
    position: relative;
    width: 768px;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      top: 765px;
      right: -52px;
      width: 620px;
      height: 401px;
      background-image: image-set("../../img/background3-tablet.png" 1x, "../../img/background3-tablet@2x.png" 2x, "../../img/background3-tablet.webp" 1x, "../../img/background3-tablet@2x.webp" 2x);
      background-repeat: no-repeat;
      z-index: -1;
    }

    &::before {
      position: absolute;
      content: "";
      top: 266px;
      left: -284px;
      width: 750px;
      height: 301px;
      background-image: image-set("../../img/background-tablet.png" 1x, "../../img/background-tablet@2x.png" 2x, "../../img/background-tablet.webp" 1x, "../../img/background-tablet@2x.webp" 2x);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: $min-width-desktop) {
    position: relative;

    &::after {
      top: -198px;
      right: -494px;
    }

    &::before {
      top: -382px;
      left: -486px;
    }
  }
}

.advantages__title {
  margin: 0 0 17px;
  padding-top: 36px;
  text-align: center;

  @media (min-width: $min-width-tablet) {
    position: relative;
    margin: 0 auto 11px;
    padding-top: 60px;
    width: 768px;
  }

  @media (min-width: $min-width-desktop) {
    margin: 0 0 1px;
    padding-top: 35px;
  }
}

.advantages__title-background {
  position: absolute;
  top: 23px;
  left: 51px;
  margin: 0;
  opacity: 3%;

  @media (min-width: $min-width-tablet) {
    top: 45px;
    left: 217px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $min-width-desktop) {
    top: 6px;
    left: 154px;
    font-size: 55px;
    line-height: 55px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 20px 15px;
  list-style: none;

  @media (min-width: $min-width-tablet) {
    position: relative;
    max-width: 678px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 32px;
    margin: 0 auto;
    padding: 50px 45px 39px;
  }

  @media (min-width: $min-width-desktop) {
    position: relative;
    right: -615px;
    flex-wrap: nowrap;
    min-width: 100%;
    max-width: 100%;
    padding: 50px 0;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 290px;
  padding: 20px 10px;
  outline: 1px solid rgba(2, 102, 193, 0.1);
  text-align: center;
  background-color: $base-white;

  &::before {
    position: absolute;
    content: "";
    top: 21px;
    left: 125px;
    width: 40px;
    height: 40px;
    outline: 1px solid $bg;
  }

  h5 {
    margin: 62px 0 15px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }

  p {
    margin: 0;
  }

  br {
    display: none;
  }

  @media (min-width: $min-width-tablet) {
    min-width: 324px;
    padding: 29px 20px;


    &::before {
      top: 30px;
      left: 139px;
      width: 46px;
      height: 46px;
    }

    h5 {
      max-width: 284px;
      margin: 73px 0 15px;
      font-size: 16px;
      line-height: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media (min-width: $min-width-desktop) {
    min-width: 380px;
    padding: 40px 20px;

    &::before {
      top: 40px;
      left: 164px;
      width: 52px;
      height: 52px;
    }

    h5 {
      max-width: 340px;
      margin: 84px 0 15px;
      font-size: 18px;
      line-height: 18px;
    }

    br {
      display: block;
    }
  }
}

.advantages__item--safety {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 133px;
    width: 24px;
    height: 24px;
    padding: 9px;
    mask-image: url("../__spritemap#sprite-security-view");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: $bg;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      top: 41px;
      left: 150px;
      padding: 12px;
    }
  }

  @media (min-width: $min-width-desktop) {
    &::after {
      top: 54px;
      left: 177px;
      padding: 15px;
    }
  }
}

.advantages__item--expertise {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 133px;
    width: 24px;
    height: 24px;
    padding: 9px;
    mask-image: url("../__spritemap#sprite-crown-view");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: $bg;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      top: 41px;
      left: 150px;
      padding: 12px;
    }
  }

  @media (min-width: $min-width-desktop) {
    &::after {
      top: 54px;
      left: 177px;
      padding: 15px;
    }
  }
}

.advantages__item--equipment {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 133px;
    width: 24px;
    height: 24px;
    padding: 9px;
    mask-image: url("../__spritemap#sprite-boots-view");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: $bg;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      top: 41px;
      left: 150px;
      padding: 12px;
    }
  }

  @media (min-width: $min-width-desktop) {
    &::after {
      top: 54px;
      left: 177px;
      padding: 15px;
    }
  }
}

.advantages__item--route {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 133px;
    width: 24px;
    height: 24px;
    padding: 9px;
    mask-image: url("../__spritemap#sprite-path-view");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: $bg;
  }

  @media (min-width: $min-width-tablet) {
    &::after {
      top: 41px;
      left: 150px;
      padding: 12px;
    }
  }

  @media (min-width: $min-width-desktop) {
    &::after {
      top: 54px;
      left: 177px;
      padding: 15px;
    }
  }
}

.advantages__item--carefully {
  position: relative;
  max-width: 290px;

  h6 {
    width: 249px;
    margin-left: 9px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 133px;
    width: 24px;
    height: 24px;
    padding: 9px;
    mask-image: url("../__spritemap#sprite-leaf-view");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: $bg;
  }

  @media (min-width: $min-width-tablet) {
    padding: 30px 20px 36px;

    h6 {
      margin-left: 15px;
    }

    &::after {
      top: 41px;
      left: 150px;
      padding: 12px;
    }
  }

  @media (min-width: $min-width-desktop) {
    padding: 40px 20px 62px;

    h6 {
      width: 340px;
      margin-left: 0;
    }


    &::after {
      top: 54px;
      left: 177px;
      padding: 12px;
    }
  }
}

.advantages__item:nth-last-of-type(1),
.advantages__item:nth-last-of-type(2),
.advantages__item:nth-last-of-type(3) {
  display: none;

  @media (min-width: $min-width-desktop) {
    display: block;
  }
}

// <!-- swiper -->
.advantages__swiper-buttons {
  display: none;

  @media (min-width: $min-width-desktop) {
    position: relative;
    bottom: 1px;
    left: 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    gap: 4px;
    justify-content: center;
  }
}

.advantages__button-next {
  transform: rotate(180deg);
}

.advantages__svg-color {
  position: relative;
  top: 1.5px;
  right: 0.7px;
  width: 13px;
  color: $base-white;
}
