.advertisement {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 15px;
  position: relative;

  @media (min-width: $tablet-min-width) {
    max-width: 768px;
    padding: 40px 45px;
    margin-bottom: 6px;
  }

  @media (min-width: $tablet-max-width) {
    max-width: 1440px;
    padding: 112px 0 100px;
    margin-bottom: 0;
  }
}

.advertisement__swiper.swiper {
  @media (min-width: $tablet-max-width) {
    margin-bottom: 72px;
  }
}

.advertisement__title {
  text-align: center;
  margin-bottom: 37px;
  padding-top: 16px;
  position: relative;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 60px;
    padding-top: 20px;
  }

  @media (min-width: $tablet-max-width) {
    margin-bottom: 50px;
    padding-top: 23px;
  }

  &::after {
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-max-width) {
      bottom: 10px;
    }
  }
}

.advertisement__swiper-wrapper.swiper-wrapper.advertisement__list {
  @include list-reset;
  @include flex-box($align-items: stretch, $justify-content: flex-start, $flex-direction: column);

  gap: 15px;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  @media (min-width: $tablet-max-width) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.advertisement__item.swiper-slide {
  @include flex-box($align-items: center, $justify-content: flex-start, $flex-direction: column);

  gap: 15px;
  padding: 19px 9px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  width: 290px;
  height: auto;

  @media (min-width: $tablet-min-width) {
    width: 324px;
    padding: 29px 19px;
  }

  @media (min-width: $tablet-max-width) {
    width: 380px;
    min-height: 329px;
    padding: 39px 19px;
  }
}

.advertisement__item.swiper-slide::before {
  content: "";
  border: 1px solid $main-bnt-color;
  width: 42px;
  height: 42px;
  background-color: $white-color;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  margin-bottom: 5px;

  @media (min-width: $tablet-min-width) {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-max-width) {
    width: 54px;
    height: 54px;
    margin-bottom: 15px;
  }
}

.advertisement__item--safe::before {
  background-image: url("/__spritemap#sprite-guard-view");
}

.advertisement__item--crown {
  @media (min-width: $tablet-min-width) {
    br {
      display: none;
    }
  }
}

.advertisement__item--crown::before {
  background-image: url("/__spritemap#sprite-crown-view");
}

.advertisement__item--boots::before {
  background-image: url("/__spritemap#sprite-boots-view");
}

.advertisement__item--path::before {
  background-image: url("/__spritemap#sprite-path-view");
}

.advertisement__item--leaf::before {
  background-image: url("/__spritemap#sprite-leaf-view");
}

.advertisement__item.swiper-slide h3 {
  @include font ($family: $primary-font, $size: 14px, $weight: 600);

  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.advertisement__item.swiper-slide p {
  @include font ($family: $primary-font, $size: 12px, $height: 18px, $weight: 400);

  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.advertisement__button-wrapper {
  display: none;

  @media (min-width: $tablet-max-width) {
    position: static;
    display: flex;
  }
}

.advertisement__item br {
  @media (min-width: $tablet-max-width) {
    display: none;
  }
}
