.button-swiper {
  display: block;
  position: relative;
  border: none;
  width: 37px;
  height: 35px;
  background-color: $color-button;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 37px;
    height: 35px;
    right: 0;
    top: 0;
    position: absolute;
    mask-image: url("../../__spritemap#sprite-prev-view");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 13px 9px;
    background-color: $color-white;
  }

  &--prev {
    margin-right: 4px;
  }

  &--next::before {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $color-white;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $color-button-active;
    }

    &::before {
      background-color: $color-button-active;
    }
  }

  &:focus {
    outline: none;
    background-color: $color-white;

    &::before {
      background-color: $color-button-active;
    }
  }

  &:active {
    background-color: $color-button-active;

    &::before {
      background-color: $color-white;
    }
  }

  &:disabled {
    background-color: $color-button-disabled;
  }
}
