.coach__title-wrapper {
  @include flex;

  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.coach__title {
  @include reset;

  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin-right: auto;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 0;
    padding-top: 7px;
  }
}

.coach__button-swiper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.coach__list {
  @include reset-list;

  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.coach__item {
  width: 290px;
  padding: 14px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.coach__picture-wrapper {
  width: 260px;
  height: 200px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 183px;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
  }
}

.coach__picture {
  display: block;
  width: 260px;
  height: 200px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    object-fit: cover;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
  }
}

.coach__description {
  position: relative;

  h4 {
    @include reset;

    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 14px;
    letter-spacing: 0.2px
  }

  p {
    @include reset;

    font-size: 12px;
    line-height: 16px;

    @media (min-width: $desktop-width) {
      width: 255px;
    }
  }
}

.coach__link {
  @include reset-link;

  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: $primary-color;
    mask-image: url("../../__spritemap#sprite-vk-view");
    mask-size: 15px 10px;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
  }

  &:hover {
    border: 1px solid $primary-color;
  }

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    border: none;
    background-color: $color-button;

    &::before {
      background-color: $color-white;
      z-index: 1;
    }
  }
}

.coach__link--disabled {
  cursor: not-allowed;
  opacity: 0.3;
  border: 1px solid $primary-color;
  background-color: none;

  &::before {
    background-color: $primary-color;
  }
}
