.contacts {
  padding: 20px 15px 30px;
  max-width: 480px;

  @media (min-width: $tablet-min-width) {
    padding: 40px 43px 40px 45px;
    max-width: 100%;
  }

  @media (min-width: $tablet-max-width) {
    padding: 0;
    flex-basis: 50%;
  }
}

.contacts__title {
  margin-bottom: 29px;
  padding-top: 16px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  @media (min-width: $tablet-max-width) {
    margin-bottom: 23px;
    padding-top: 22px;
  }

  &::after {
    @media (min-width: $tablet-max-width) {
      bottom: -3px;
    }
  }
}

.contacts p {
  @include font ($family: $primary-font, $size: 14px, $height:20px, $weight: 400);

  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  br {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;

    br {
      display: block;
    }
  }

  @media (min-width: $tablet-max-width) {
    margin-bottom: 50px;
  }
}

.contacts__wrapper {
  @include list-reset;
  @include flex-box($align-items: flex-start, $justify-content: center, $flex-direction: column);

  gap: 30px;
  max-width: 480px;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    max-width: 100%;
  }

  @media (min-width: $tablet-max-width) {
    flex-direction: column;
    gap: 35px;
  }
}
