.contacts {
  padding-top: 123px;
  padding-bottom: 95px;

  @include vp-1439 {
    padding-top: 60px;
    padding-bottom: 39px;
  }

  @include vp-767 {
    padding-top: 36px;
    padding-bottom: 19px;
  }
}

.contacts__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @include vp-1439 {
    flex-direction: column;
    padding: 0;
  }

  @include vp-767 {}
}

.contacts__col {
  &--info {
    width: 600px;

    @include vp-1439 {
      width: 768px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 45px;
      padding-right: 43px;
    }

    @include vp-767 {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &--map {
    width: 600px;
    padding-top: 26px;

    @include vp-1439 {
      width: 100%;
      padding-top: 39px;
    }

    @include vp-767 {
      padding-top: 30px;
    }
  }
}

.contacts__head {
  margin-bottom: 50px;

  @include vp-1439 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.contacts__title {
  position: relative;
  margin-bottom: 23px;

  @include vp-1439 {
    margin-bottom: 21px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.contacts__title-back {
  bottom: -3px;

  @include vp-1439 {
    bottom: 1px;
  }

  @include vp-767 {
    bottom: 9px;
  }
}

.contacts__head p {
  max-width: 500px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @include vp-1439 {}

  @include vp-767 {
    max-width: none;
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 35px;

  @include vp-1439 {
    width: 100%;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 40px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 30px;
  }
}

.contacts__item {
  padding-left: 56px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  row-gap: 8px;
  position: relative;

  &--phone::before,
  &--email::before,
  &--address::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 26px;
    height: 26px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-dark;

    @include vp-1439 {
      width: 24px;
      height: 24px;
      top: 0;
    }
  }

  &--phone {
    &::before {

      mask-image: url("../__spritemap#sprite-icon-phone-view");
      mask-size: 23.64px 23.64px;

      @include vp-1439 {
        mask-size: 21.82px 21.82px;
      }

      @include vp-767 {
        mask-size: 20px 20px;
      }
    }

  }

  &--email {
    &::before {
      mask-image: url("../__spritemap#sprite-icon-mail-view");
      mask-size: 23.64px 16.55px;

      @include vp-1439 {
        mask-size: 21.82px 15.27px;
      }

      @include vp-767 {
        mask-size: 20px 14px;
      }
    }

  }

  &--address {
    &::before {
      mask-image: url("../__spritemap#sprite-icon-pin-view");
      mask-size: 17.73px 23.64px;

      @include vp-1439 {
        mask-size: 16.36px 21.82px;
      }

      @include vp-767 {
        mask-size: 15px 20px;
      }
    }

  }

  @include vp-1439 {
    padding-left: 34px;
    row-gap: 6px;
  }

  @include vp-767 {
    padding-left: 32px;
    row-gap: 8px;
  }
}

.contacts__item span {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1439 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.contacts__item a,
.contacts__item b {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1439 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__item a {
  text-decoration: none;
  color: inherit;
}

.contacts__item br {
  display: none;

  @include vp-767 {
    display: inline;
  }
}
