.detalis--difficulty {
  .detalis__key {
    margin-bottom: 4px;
  }
}

.detalis__key {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin-bottom: 7px;
}

.detalis__value {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.detalis__star {
  @include reset;

  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $color-white;
    mask-size: 16px 16px;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
  }

  &--checked::before {
    mask-image: url("../../__spritemap#sprite-star-checked-view");
  }

  &--default::before {
    mask-image: url("../../__spritemap#sprite-star-default-view");
  }
}
