.form__wrapper {
  width: 320px;
  padding: 177px 31px 174px;
  margin: 0 auto;
  background-color: #1b1810;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%),
    image-set(url("../../img/background-form-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/background-form-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/background-form-tablet@1x.jpg") type("image/jpg") 1x,
      url("../../img/background-form-tablet@2x.jpg") type("image/jpg") 2x);
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    @include flex-column;

    justify-content: center;
    width: 768px;
    min-height: 680px;
    padding: 0 204px;

  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 760px;
    padding: 0 240px;
    background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%),
    image-set(url("../../img/background-form-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/background-form-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/background-form-desktop@1x.jpg") type("image/jpg") 1x,
      url("../../img/background-form-desktop@2x.jpg") type("image/jpg") 2x);
  }
}

.form__title {
  @include reset;

  display: block;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
  color: $color-white;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}

.form__text {
  @include reset;

  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $color-white;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.form__text br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__subscribe {

  @media (min-width: $desktop-width) {
    @include flex-between;

    width: 960px;
  }
}

.form__field {
  width: 258px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  height: 50px;
  padding: 17px 15px;
  border-radius: 2px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 360px;
    height: 56px;
    padding: 20px 30px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__button {
  @include reset;

  display: block;
  width: 258px;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 21px 19px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 360px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}
