.gallery-slide__img {
  font-size: 0;
  line-height: 0;
}

.gallery-slide__img img {
  display: block;
  width: 284px;
  height: 463px;

  @include vp-1439 {
    width: 253px;
    height: 418px;
  }

  @include vp-767 {
    width: 158px;
    height: 266px;
  }
}

.gallery-slide__row--top img {
  width: 284px;
  height: 233px;

  @include vp-1439 {
    width: 252px;
    height: 210px;
  }

  @include vp-767 {
    width: 157px;
    height: 135px;
  }
}

.gallery-slide__row--bottom img {
  width: 284px;
  height: 223px;

  @include vp-1439 {
    width: 252px;
    height: 201px;
  }

  @include vp-767 {
    width: 158px;
    height: 124px;
  }
}

.gallery-slide__row:not(:last-child) {
  margin-bottom: 7px;
}
