.gallery {
  line-height: 0;
  max-width: 320px;
  padding-top: 20px;
  padding-bottom: 3px;
  margin: 0 auto;

  @media (min-width: $tablet-min-width) {
    max-width: 768px;
    padding-top: 40px;
    position: relative;
  }

  @media (min-width: $tablet-max-width) {
    max-width: 1440px;
    padding-top: 100px;
  }
}

.gallery__text-content {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-min-width) {
    max-width: 678px;
  }

  @media (min-width: $tablet-max-width) {
    max-width: 1200px;
  }
}

.gallery__title {
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 17px;


  @media (min-width: $tablet-min-width) {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 0;
    max-width: 80%;
  }

  @media (min-width: $tablet-max-width) {
    margin-bottom: 24px;
    padding-top: 23px;
  }

  &::after {
    bottom: 26px;

    @media (min-width: $tablet-max-width) {
      bottom: -3px;
    }
  }
}

.gallery__text-content p {
  @include font ($family: $primary-font, $size: 12px, $height: 18px, $weight: 400);

  padding: 0;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-min-width) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 21px;
    max-width: 420px;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
    max-width: 595px;

    br {
      display: none;
    }
  }
}

.gallery__item.swiper-slide {
  @include flex-box($align-items: center, $justify-content: space-between, $flex-direction: column);

  width: 157px;
  height: 266px;
  gap: 7px;

  @media (min-width: $tablet-min-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $tablet-max-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__swiper-wrapper.swiper-wrapper.gallery__list {
  @include list-reset;

  @media (min-width: $tablet-max-width) {
    min-width: 1440px;
    gap: 5px;
  }
}

.gallery__image {
  width: 158px;
  height: 266px;
  object-fit: cover;

  @media (min-width: $tablet-min-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $tablet-max-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__image--max-half {
  width: 157px;
  height: 134.5px;

  @media (min-width: $tablet-min-width) {
    width: 253px;
    height: 209px;
  }

  @media (min-width: $tablet-max-width) {
    width: 284px;
    height: 233px;
  }
}

.gallery__image--half {
  width: 157px;
  height: 124px;

  @media (min-width: $tablet-min-width) {
    width: 253px;
    height: 202px;
  }

  @media (min-width: $tablet-max-width) {
    width: 284px;
    height: 223px;
  }
}

.gallery__button-wrapper {
  @media (min-width: $tablet-min-width) {
    top: 168px;
    right: 45px;
  }

  @media (min-width: $tablet-max-width) {
    display: none;
  }
}
