.main-content {
  position: relative;
}

.main-content__background-tours {
  position: absolute;
  top: 578px;
  right: 0;
  width: 141px;
  height: 595px;
  background-image:
    image-set(url("../../img/background-clouds-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/background-clouds-mobile@2x.webp") type("image/webp") 2x,
    url("../../img/background-clouds-mobile@1x.png") type("image/png") 1x,
    url("../../img/background-clouds-mobile@2x.png") type("image/png") 2x);
  background-size: 141px 595px;
  background-repeat: no-repeat;
  background-position: cover;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 942px;
    right: 0;
    width: 425px;
    height: 1630px;
    background-image:
      image-set(url("../../img/background-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-tablet@2x.png") type("image/png") 2x);
    background-size: 425px 1630px;
  }

  @media (min-width: $desktop-width) {
    top: 674px;
    right: 0;
    width: 602px;
    height: 1630px;
    background-image:
      image-set(url("../../img/background-clouds-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-desktop@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-desktop@2x.png") type("image/png") 2x);
    background-size: 602px 1630px;
  }
}

.main-content__background-training {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 2283px;
    right: 0;
    width: 465px;
    height: 280px;
    background-image:
      image-set(url("../../img/background-clouds-tablet-2@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-tablet-2@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-tablet-2@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-tablet-2@2x.png") type("image/png") 2x);
    background-size: 465px 280px;
  }

  @media (min-width: $tablet-width) {
    top: 2226px;
    width: 633px;
    background-image:
      image-set(url("../../img/background-clouds-desktop-2@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-desktop-2@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-desktop-2@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-desktop-2@2x.png") type("image/png") 2x);
    background-size: 633px 280px;
  }
}

.main-content__background-adv {
  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    content: "";
    top: 4066px;
    right: 0;
    left: 0;
    width: 768px;
    height: 996px;
    padding: 100px 214px 133.97px;
    background-image:
      image-set(url("../../img/background-clouds-tablet-3@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-tablet-3@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-tablet-3@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-tablet-3@2x.png") type("image/png") 2x);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 3517px;
    width: 1440px;
    height: 447px;
    background-image:
      image-set(url("../../img/background-clouds-desktop-3@1x.webp") type("image/webp") 1x,
      url("../../img/background-clouds-desktop-3@2x.webp") type("image/webp") 2x,
      url("../../img/background-clouds-desktop-3@1x.png") type("image/png") 1x,
      url("../../img/background-clouds-desktop-3@2x.png") type("image/png") 2x);
  }
}
