.page-footer {
  border-top: 1px solid rgba($color-dark, 0.2);

}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1439 {}

  @include vp-767 {}
}

.page-footer__col {
  &--logo {}

  &--nav {}

  &--phone {
    @include vp-1439 {
      display: none;
    }
  }

  &--social {
    width: 100%;
  }

  &--policy {
    width: 100%;
  }
}

.page-footer__nav-list {}

.page-footer__col--phone a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
  color: inherit;
}

.page-footer__nav-item {
  &--tours {}

  &--training {}

  &--about {}

  &--reviews {}

  &--gallery {}

  &--contacts {}
}

.page-footer__social-list {}

.page-footer__policy {}
