@import "../vars";

.reviews {
  padding: 36px 15px 0px;
  background-color: $white;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 32px;

  &::before {
    content: "Отзывы";
    position: absolute;
    top: -15px;
    opacity: 0.03;
    font-size: 26px;
    line-height: 26px;
  }
}

.reviews-slide__wrapper {
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);
  background-color: $white;
  width: 290px;
  box-sizing: border-box;
  // height: 484px;
  margin: 0 auto;
}

.reviews-slide {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.reviews-photo {
  width: 250px;
  height: 169px;
}

.reviews-photo img {
  width: 100%;
  height: 100%;
}

.review__text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.review__text p:first-of-type {
  margin-bottom: 10px;
}

.review__text {
  margin-bottom: 12px;
}

.reviewer-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}

.reviewer-details {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

// .reviews-swiper {
//   // margin-bottom: 25px;
// }

// .reviews-slide__wrapper + .reviews-slide-4 {
//   height: 501px;
// }
