@import "../vars";

.reviews {
  padding: 36px 15px 0px;
  background-color: $white;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 32px;

  &::before {
    content: "Отзывы";
    position: absolute;
    top: -15px;
    opacity: 0.03;
    font-size: 26px;
    line-height: 26px;
  }
}

.reviews-slide__wrapper {
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);
  background-color: $white;
  width: 290px;
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
}

.reviews-slide {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-decoration: none;
  color:inherit;
}

.reviews-photo {
  width: 250px;
  height: 169px;
}

.reviews-photo img {
  width: 100%;
  height: 100%;
}

.review__text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.review__text p:first-of-type {
  margin-bottom: 10px;
}

.review__text {
  margin-bottom: 12px;
}

.reviewer-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}

.reviewer-details {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

@media (min-width: 768px) {
  .reviews {
    padding: 60px 0 40px 0;
  }

  .reviews-slide__wrapper {
    padding: 20px 30px 20px 19.5px;
    box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);
    background-color: #fff;
    width: 565px;
    height: 277px;
  }
  .swiper-slide-active .reviews-slide__wrapper {
    margin-left: 45.5px;
  }

  .reviews-slide {
    flex-direction: row;
    gap: 30px;
  }

  .review__text {
    width: 299px;
    margin-top: 4px;
    margin-bottom: 22px;
  }

  .reviews-photo {
    width: 186px;
    height: 237px;
  }

  .reviews__title {
    margin-bottom: 35px;
    margin-left: 45px;

    &::before {
      font-size: 40px;
      font-weight: 800;
      line-height: 40px;
    }
  }

  .reviewer-name {
    font-size: 13px;
    line-height: 13px;
  }

  .reviews__inner {
    position: relative;
  }
}

@media (min-width: 1440px) {
  .reviews {
    padding: 146px 0px 88px 120px;
  }

  .reviews__title {
    margin-bottom: 38px;
    margin-left: 0;

    &::before {
      font-size: 55px;
      line-height: 55px;
      top: -38px;
    }
  }

  .reviews__inner .reviews-swiper {
    padding-left: 10px ;
  }

  .swiper-slide-active .reviews-slide__wrapper {
    margin-left: 0;
  }

  .reviews-slide__wrapper {
    padding: 19px 40px 20px 20px;
    width: 700px;
    height: 293px;
  }

  .reviews-photo {
    width: 258px;
    height: 253px;
  }

  .review__text {
    margin-bottom: 0;
    margin-top: -2px;
  }

  .review__text p {
    font-size: 14px;
    line-height: 22px;
    width: 351px;
  }

  .review__text p:last-of-type {
    margin-bottom: 4px;
  }

  .reviewer-name {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: -11px;
  }

  .reviews-slide-1 .reviewer-name {
    margin-bottom: -15px;
  }

  .reviews-slide-2 .reviewer-name {
    margin-bottom: -15px;
  }
}
