.reviews-slide__container {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  column-gap: 30px;
  box-shadow: 0 0 20px 0 rgba($color-dark-alternative, 0.1);
  background-color: $color-white;
  padding: 20px;
  padding-top: 19px;
  padding-right: 40px;

  @include vp-1439 {
    max-width: 565px;
    padding-top: 17px;
    padding-right: 30px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 20px;
    padding-top: 0;
    flex-direction: column;
    column-gap: 0;
    align-items: center;
  }
}

.reviews-slide__img {
  flex-shrink: 0;
  font-size: 0;
  line-height: 0;
  margin-top: 1px;

  @include vp-1439 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.reviews-slide__img img {
  display: block;
  width: 258px;
  height: 253px;

  @include vp-1439 {
    width: 186px;
    height: 237px;
  }

  @include vp-767 {
    width: 250px;
    height: 169px;
  }
}

.reviews-slide__content {
  @include vp-1439 {
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.reviews-slide__content p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  &:first-child {
    margin-bottom: 10px;
  }

  @include vp-1439 {
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews-slide__author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;

  @include vp-1439 {
    margin-top: 26px;
  }

  @include vp-767 {
    margin-top: 17px;
  }
}

.reviews-slide__author b {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;

  @include vp-1439 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}

.reviews-slide__author span {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
