.section-title {
  margin: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;
  text-align: left;

  &--dark {
    color: $color-dark;
  }

  &--light {
    color: $color-white;
  }

  @include vp-1439 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.section-title__back {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 800;
  text-align: left;
  color: rgba($color-dark, 0.03);

  @include vp-1439 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
  }
}
