.shadow-title {
  @include font ($family: $primary-font, $size: 22px, $weight: 800);

  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-min-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 35px;
    line-height: 35px;
  }

  &::after {
    content: attr(title);
    opacity: 0.03;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 0;

    @media (min-width: $tablet-min-width) {
      font-size: 40px;
      bottom: 0;
      line-height: 40px;
    }

    @media (min-width: $tablet-max-width) {
      font-size: 55px;
      line-height: 55px;
      bottom: 19px;
    }
  }
}
