.site-list {
  @include font ($family: $primary-font, $size: 16px, $color: $white-color, $weight: 700);
  @include list-reset;

  background-color: $main-bnt-color;
  text-transform: uppercase;
  letter-spacing: 0.04em;


  @media (min-width: $tablet-min-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
  }
}

.site-list__link {
  color: inherit;
  text-decoration: none;
  padding: 0 0 22px 15px;
  display: block;
  transition: opacity 0.3s;

  @media (min-width: $tablet-min-width) {
    padding: 0 0 26px 45px;
  }

  @media (min-width: $tablet-max-width) {
    padding: 3px 5px;
    border: 1px solid transparent;
    transition: border-color, color, 0.3s;
  }

  &:hover {
    border-bottom-color: $white-color;
  }

  &:focus,
  &:focus-visible {
    outline-style: solid;
    outline-color: $white-color;
  }

  &:active {
    color: $active-color;
  }

  &:disabled,
  &--disabled {
    color: $disabled-color;
  }
}
