.slider-btns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 4px;

  @include vp-767 {
    display: none;
  }
}

.slider-btns__arrow {
  width: 37px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-action;
  color: $color-white;
  border: 1px solid $color-transparent;
  cursor: pointer;
  transition: background-color $trans-default, border-color $trans-default, color $trans-default;

  &--next {
    transform: rotate(180deg);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    background-color: $color-white;
    color: $color-dark-alternative;
    border-color: $color-white;
  }

  &:hover:not(:disabled):not(.disabled):not(:focus-visible):not(:active) {
    background-color: $color-white;
    color: $color-dark-alternative;
    border-color: $color-dark-alternative;
  }

  &:active {
    background-color: $color-dark-alternative;
    color: $color-white;
    border-color: $color-dark-alternative;
  }

  &:disabled {
    pointer-events: none;
    color: $color-white;
    background-color: #999999;
    border-color: #999999;
  }
}

.slider-btns__arrow.disabled {
  pointer-events: none;
  color: $color-white;
  background-color: #999999;
  border-color: #999999;
}
