.slider__button-wrapper {
  display: none;

  @media (min-width: $tablet-min-width) {
    @include flex-box($align-items: center, $justify-content: center, $flex-direction: row);

    position: absolute;
    top: 20px;
    right: 0;
    gap: 4px;
  }
}

.slider__button-wrapper .slider__button {
  @include flex-box($align-items: center, $justify-content: center, $flex-direction: row);

  position: static;
  width: 37px;
  height: 35px;
  background-color: $main-bnt-color;
  border-radius: 0;
  border: 1px solid $main-bnt-color;
  transition: border-color, background-color, 0.5s;

  &::after {
    width: 14px;
    height: 9px;
    content: "";
    mask-image: url("/__spritemap#sprite-right-button-arrow-view");
    mask-repeat: no-repeat;
    mask-size: auto;
    mask-position: center;
    background-color: $white-color;
    transition: background-color, 0.5s;
  }

  &:hover {
    background-color: $white-color;
    border-color: $active-color;

    &::after {
      background-color: $active-color;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: $white-color;
    border-color: $white-color;
    outline: none;

    &::after {
      background-color: $active-color;
    }
  }

  &:active {
    background-color: $active-color;
    border-color: $active-color;

    &::after {
      background-color: $white-color;
    }
  }

  &:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    opacity: 1;
  }
}

.slider__button.swiper-button-disabled {
  background-color: $disabled-color;
  border-color: $disabled-color;
  opacity: 1;
}

.slider__button--prev {
  transform: rotate(180deg);
}
