@import "../vars.scss";

.tours {
  padding: 17px 15px 20px;
  position: relative;
  background-color: $white;
}

.tours__back-img {
  position: absolute;
  right: 0;
}

.tours__title {
  margin-bottom: 40px;
  margin-top: 21px;
}

.tours__title::before {
  content: "Ближайшие туры";
  position: absolute;
  top: -15px;
  opacity: 0.03;
  font-size: 26px;
  line-height: 26px;
}

.swiper-tours {
  margin-bottom: 25px;
}

.tours-slide {
  width: 290px;
  height: 416px;
  padding: 30px 20px 26px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
}

.tours-slide-1 {
  background-image: url("../../img/tours/tours-mobile-elbrus.png");
}

.tours-slide-2 {
  background-image: url("../../img/tours/tours-mobile-altay.png");
}

.tours-slide-3 {
  background-image: url("../../img/tours/tours-mobile-adigeya.png");
}

.tours-slide-4 {
  background-image: url("../../img/tours/tours-mobile-ural.png");
}

.tour-info {
  color: $white;
}

.tour-info-up {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  align-items: baseline;
}

.tour-info__place {
  display: block;
  background-color: #0266c1;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 5px;
  // margin-bottom: 12px;
}

.tour-info__place span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tour-info__duration {
  display: flex;
  margin-top: 12px;
  gap: 7px;
}

.tour-info__days {
  margin-right: 8px;
}

.tour-info__days,
.tour-info__nights {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tour-info__days span,
.tour-info__nights span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tour-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.tour-info-bottom {
  display: flex;
  gap: 8px;
}

.tour-info-bottom__content {
  display: flex;
  flex-direction: column;
}

.tour-info-bottom__criteria {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.criteria-hardness {
  margin-bottom: 4px;
}

.criteria-collecting {
  margin-bottom: 7px;
  width: 83px;
}

.collecting-data {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tour-decor-line {
  width: 80px;
  height: 1px;
  opacity: 0.2;
  background: $white;
  margin: 15px 0;
}

.tours__all-tours-link {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-top: 25px;
  color: $black;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px; /* 100% */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.tours::before {
  content: url(../../img/tours/clouds-mobile.png);
  position: absolute;
  right: 0;
  top: 10px;
}

@media (min-width: 768px) {
  .tours {
    padding: 40px 45px;
  }

  .tours__title {
    font-size: 25px;
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 35px;

    &::before {
      content: "Ближайшие туры";
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
    }
  }

  .tours-slide {
    width: 330px;
    height: 416px;
    padding: 30px 20px 26px;
  }

  .tours-slide-1 {
    background-image: url("../../img/tours/tours-tablet-elbrus.png");
  }

  .tours-slide-2 {
    background-image: url("../../img/tours/tours-tablet-altay.png");
  }

  .tours-slide-3 {
    background-size: 100%;
  }

  .tours-slide-4 {
    background-size: 100%;
  }

  .tour-info-up {
    justify-content: space-between;
  }

  .tour-title {
    width: 235px;
  }

  .tour-info-bottom {
    justify-content: space-between;
  }

  .tour-info-bottom__content:last-child {
    width: 69px;
  }

  .swiper-button-prev::after {
    display: initial;
    width: 37px !important;
    height: 35px !important;
    content: url(../../img/sprite/button-prev.svg) !important;
    bottom: 248px !important;
    left: 635px !important;
    position: absolute;
  }

  .swiper-button-next::after {
    display: initial;
    width: 37px !important;
    height: 35px !important;
    content: url(../../img/sprite/button-nxt.svg) !important;
    bottom: 248px !important;
    right: 35px !important;
    position: absolute;
  }

  .tours__all-tours-link {
    z-index: 10;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  .tours::before {
    content: url(../../img/tours/clouds-tablet.png);
    top: -92px;
  }
}
