.tours__wrapper {
  width: 320px;
  padding: 20px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 100px 120px;
  }
}

.tours__title-wrapper {
  @media (min-width: $tablet-width) {
    @include flex;

    margin-bottom: 25px;
    align-items: end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours__title {
  padding-top: 19px;
  padding-bottom: 14px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 1px;
  }
}

.tours__button-swiper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tours__list {
  @include reset-list;
}

.tours__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 290px;
  min-height: 416px;
  padding: 30px 20px;
  color: $color-white;
  background-color: #44628e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    margin-bottom: 53px;
  }

  &--kavkaz {
    background-image:
      $background-card,
      image-set(url("../../img/tours-1@1x.webp") type("image/webp") 1x,
      url("../../img/tours-1@2x.webp") type("image/webp") 2x,
      url("../../img/tours-1@1x.jpg") type("image/jpg") 1x,
      url("../../img/tours-1@2x.jpg") type("image/jpg") 2x);
  }

  &--altai {
    background-image:
      $background-card,
      image-set(url("../../img/tours-2@1x.webp") type("image/webp") 1x,
      url("../../img/tours-2@2x.webp") type("image/webp") 2x,
      url("../../img/tours-2@1x.jpg") type("image/jpg") 1x,
      url("../../img/tours-2@2x.jpg") type("image/jpg") 2x);
  }

  &--adygea {
    background-image:
      $background-card,
      image-set(url("../../img/tours-3@1x.webp") type("image/webp") 1x,
      url("../../img/tours-3@2x.webp") type("image/webp") 2x,
      url("../../img/tours-3@1x.jpg") type("image/jpg") 1x,
      url("../../img/tours-3@2x.jpg") type("image/jpg") 2x);
  }

  &--ural {
    background-image:
      $background-card,
      image-set(url("../../img/tours-4@1x.webp") type("image/webp") 1x,
      url("../../img/tours-4@2x.webp") type("image/webp") 2x,
      url("../../img/tours-4@1x.jpg") type("image/jpg") 1x,
      url("../../img/tours-4@2x.jpg") type("image/jpg") 2x);
  }
}

.tours__info-wrapper {
  @include flex-between;

  row-gap: 12px;
  margin-bottom: 16px;
}

.tours__place {
  display: block;
  padding: 8px 12px 8px 34px;
  background-color: $color-button;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 50%;
    left: 12px;
    transform: translateY(50%);
    mask-image: url("../../__spritemap#sprite-pin-filled-view");
    mask-size: 12px 12px;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background-color: $color-white;
  }
}

.tours__stats {
  @include flex;

  gap: 14px;
}

.tours__info {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  position: relative;
  padding: 4px 0 4px 32px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-color: $color-white;
  }

  &--days::before {
    mask-image: url("../../__spritemap#sprite-sun-view");
    mask-size: 20px 20px;
  }

  &--night::before {
    mask-image: url("../../__spritemap#sprite-moon-view");
    mask-size: 18px 18px;
  }
}

.tours__heading {
  @include reset;

  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    bottom: -15px;
    left: 0;
    background-color: $color-white;
    opacity: 0.2;
  }
}

.tours__detalis-wrapper {
  @include flex-between;
}

.tours__button {
  @include reset-link;

  position: relative;
  width: 212px;
  padding: 10px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: $primary-color;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 14px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    mask-image: url("../../__spritemap#sprite-right-view");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 9px 14px;
    background-color: $primary-color;

    @media (min-width: $tablet-width) {
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 219px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px 10px 0;
  }

  &:hover {
    color: rgba(2, 102, 193, 0.1);

    &::before {
      background-color: rgba(2, 102, 193, 0.1);
    }
  }

  &:focus {
    outline: none;
    color: $color-button;

    &::before {
      background-color: $color-button;
    }
  }

  &:active {
    color: $color-button-active;

    &::before {
      background-color: $color-button-active;
    }
  }
}

.tours__button--disabled {
  color: $color-button-disabled;

  &::before {
    background-color: $color-button-disabled;
  }
}
