@import "../vars.scss";

.training {
  padding: 20px 15px;
  // display: flex;
  // flex-direction: column;
  background-color: $white;
}

.training__title::before {
  content: "Обучение";
  position: absolute;
  top: -15px;
  opacity: 0.03;
  font-size: 26px;
  line-height: 26px;
}

.training__title {
  margin: 0 0 35px;
}

.training__title + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 25px;
  width: 280px;
}

.training__instructors-title {
  margin-bottom: 25px;
}

.instructors-slide__wrapper {
  padding: 15px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: $white;
  width: 290px;
  box-sizing: border-box;
  height: 356px;
  margin: 0 auto;
}

.instructors-slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.instructor__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.instructor__data span {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.instructor__data + p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  width: 240px;
}

.instructor-photo {
  width: 260px;
  height: 200px;
}

.instructor-photo img {
  width: 100%;
  height: 100%;
}

.instructors-swiper {
  margin-bottom: 25px;
}

.training__process-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 25px 0;
}

.training__process-inner {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.process-line__picture {
  width: 2px;
  height: 183px;
  background-color: $accent-blue;
  margin-left: 6px;
  position: relative;
}
.picture-circle {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $accent-blue;
}

.circle1 {
  left: -6px;
}

.circle2 {
  left: -6px;
  top: 55px;
}

.circle3 {
  left: -6px;
  bottom: 55px;
}

.circle4 {
  left: -6px;
  bottom: 0px;
}

.process-info__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
}

.process-info__item {
  display: flex;
  gap: 9px;
}

.process-info__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  width: 200px;
}

.process-line__picture-wrapper {
  width: 18px;
}
