@mixin font-face($font-family, $font-weight, $font-style, $font-src, $font-src-fb) {
  @font-face {
    font-family: $font-family;
    font-weight: 100 900;
    font-style: normal;
    src:
      $font-src,
      $font-src-fb;
    font-display: swap;
  }
}

@mixin font($family: $primary-font, $size, $height: $size, $weight: 400, $style: normal, $color: inherit) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin flex-box($align-items: center, $justify-content: space-between, $flex-direction: column) {
  display: flex;
  flex-flow: $flex-direction wrap;
  align-items: $align-items;
  justify-content: $justify-content;
}
