$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
$primary-font: "Montserrat", "Arial", sans-serif;
$primary-color: #2d383f;
$color-white: #ffffff;
$color-button: #0266C1;
$background-big: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$background-cart: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
$color-button-active: #1c3374;
$color-button-disabled: #999999;
$color-error: #ff121f;
$color-overlay: rgba(45, 56, 63, 0.6);
