$primary-font: "Montserrat", "Arial", sans-serif;
$dark-text-clor: #2d383f;
$white-color: #ffffff;
$main-bnt-color: #0266c1;
$active-color: #1c3374;
$disabled-color: #999999;
$big-gradient: linear-gradient(143deg, rgba(15, 20, 41, 0.28) 0%, rgba(15, 20, 41, 0.1) 100%);
$small-gradient: linear-gradient(180deg, rgb(0 0 0 / 0%) 40%, rgba(0, 0, 0, 85%) 100%);
$tablet-min-width: 768px;
$tablet-max-width: 1365px;
$desktop-max-width: 1366px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;
