$font: "Montserrat", "Arial", sans-serif;
$base-dark: #2d383f;
$base-light: #999999;
$outline: rgba(45, 56, 63, 0.3);
$base-white: #ffffff;
$bg: #0266c1;
$bg-alt: #1c3374;
$bg-gradient: linear-gradient(rgba(15, 20, 41, 0.33), rgba(15, 20, 41, 0));
$bg-gradient-card: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
$min-width-mobile: 320px;
$min-width-tablet: 768px;
$min-width-desktop: 1440px;
