*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
  font-family: $ff-placeholder;
  color: $color-dark;
}

body {
  width: 100%;
  height: 100%;
  background-color: $color-white;
}

img,
video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
