// Colors

$transparent: rgba(0, 0, 0, 0);
$color-white: #ffffff;
$color-navy-blue: #0266c1;
$color-resolution-blue: #1c3374;
$color-polo-blue: #91b1cf;
$color-elephant: #2d383f;
$color-black: #000000;
$color-nobel: #999999;
$color-gainsboro: #d9d9d9;
$color-torch-red: #ff121f;

// Viewports
$vp-768: 768px;
$vp-1440: 1440px;

// Fonts

$ff-montserrat: "Montserrat", "Arial", sans-serif;
