// Viewports
// ---------------------------------
$vp-768: 768px;
$vp-1440: 1440px;

// Colors
// ---------------------------------
$color-white: #ffffff;
$color-dark: #2d383f;
$color-action: #0266c1;
$hero-gradient: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$tours-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
$fz-default: 16px;
$font-family: "Montserrat", "Arial", sans-serif;
$ff-placeholder: $font-family;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;
