@import "./vars";

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  display: none;
}

.page-body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  color: $black;
}

.title,
.about__content h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  position: relative;
}

.button {
  cursor: pointer;

  &:hover{
    background-color: $white;
    color: $active-dark;
    border: 1px solid $active-dark;
  }
  &:active{
    background-color: $active-dark;
    color: $white;
  }
}

@media (min-width: 768px) {
  .title,
  .about__content h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 35px;
    line-height: 100%;
  }
}
