@import "./vars";

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  display: none;
}

.page-body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  color: $black;
}

.title,
.about__content h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  position: relative;
}
