.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (min-width: 768px) {
  .reviews__inner .reviews-swiper-button-prev::after,
  .training__inner .instructor-swiper-button-prev::after,
  .tours__inner .tours-swiper-button-prev::after,
  .gallery__inner .gallery-swiper-button-prev::after {
    display: initial;
    width: 37px;
    height: 35px;
    content: url(../../img/sprite/button-prev.svg);
    position: absolute;
    cursor: pointer;
  }

  .reviews__inner .reviews-swiper-button-next::after,
  .training__inner .instructor-swiper-button-next::after,
  .tours__inner .tours-swiper-button-next::after,
  .gallery__inner .gallery-swiper-button-next::after {
    display: initial;
    width: 37px;
    height: 35px;
    content: url(../../img/sprite/button-nxt.svg);
    position: absolute;
  }

  .tours__inner .tours-swiper-button-prev {
    top: 74px;
    left: 650px;
  }

  .tours__inner .tours-swiper-button-next {
    top: 74px;
    left: 691px;
  }

  .training__instructors .instructor-swiper-button-prev {
    top:232px;
    left: 650px;
  }

  .training__instructors .instructor-swiper-button-next {
    top: 232px;
    left: 691px;
  }

  .gallery__inner .gallery-swiper-button-prev {
    top: 81.5%;
    left: 84%;
  }

  .gallery__inner .gallery-swiper-button-next {
    top: 81.5%;
    left: 89.3%;
  }
}

@media (min-width: 1440px) {
  .tours__inner .tours-swiper-button-next {
    position: absolute;
    top: 15px;
    left: 1163px;
  }

  .tours__inner .tours-swiper-button-prev {
    top: 15px;
    left: 1122px;
  }

  .training__instructors .instructor-swiper-button-next {
    left: 1163px;
    top: 14.5px;
  }

  .training__instructors .instructor-swiper-button-prev {
    left: 1122px;
    top: 14.5px;
  }

  .reviews__inner .reviews-swiper-button-next {
    left: 1163px;
  }

  .reviews__inner .reviews-swiper-button-prev {
    left: 1123px;
  }

  .advantages__inner .advantages-swiper-button-prev,
  .advantages__inner .advantages-swiper-button-next {
    display: initial;
    opacity: 1;
  }

  .advantages__inner .advantages-swiper-button-prev::after {
    display: initial;
    width: 37px;
    height: 35px;
    content: url(../img/sprite/prev-blue.svg);
  }

  .advantages__inner .advantages-swiper-button-next::after {
    display: initial;
    width: 37px;
    height: 35px;
    content: url(../../img/sprite/button-nxt.svg);
    position: absolute;
  }

  .advantages__inner .advantages-swiper-button-prev {
    top: 116.7%;
    left: 47.3%;
  }

  .advantages__inner .advantages-swiper-button-next {
    top: 116.7%;
    right: 48%;
  }

  .gallery__inner .gallery-swiper-button-prev,
  .gallery__inner .gallery-swiper-button-next {
    display: none;
  }
}
